<nav class="">
    <div class="rounded flex items-center justify-between flex-wrap bg-teal-500 p-6"  >
  
      <div class="block sm:hidden ">
          <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white" (click)="toggleAside()">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
      </div>
  
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Coding SA</span>
      </div>
  
      <div>
        <button type="button" class="flex text-sm 0 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full" src="https://img.icons8.com/ios/50/user-male-circle--v1.png" alt="user photo">
        
        </button>
      </div>
          <!-- <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900 dark:text-white" role="none">
                Neil Sims
              </p>
              <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                neil.sims@flowbite.com
              </p>
            </div>
          </div> -->
  </div>
  
  </nav>
  