<div class="bg-teal-500 rounded-t-lg p-8">
    <span class="text-white text-left font-semibold text-xl tracking-tight">Assigments</span>
  </div>
  <div class="flex flex-col flex-1 items-stretch bg-teal-100 space-y-12 rounded-b-lg py-12 px-4 lg:px-24 h-full">
    
          <span class="text-teal-700 text-left font-semibold text-xl tracking-tight">Due Soon</span>
          <div class="overflow-x-auto shadow-md rounded-lg">
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-teal-700 uppercase bg-teal-50 dark:bg-teal-800 dark:text-gray-400">
                      <tr>
                          <th scope="col" class="px-6 py-3">
                              Assigment
                          </th>
                          <th scope="col" class="px-6 py-3">
                              Class
                          </th>
                          <th scope="col" class="px-6 py-3">
                              Due Date
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let icon  of [1.2.3,4,4]" class="bg-white border-b dark:bg-teal-700 dark:border-gray-700">
                          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                              Assigment 1
                          </th>
                          <td class="px-6 py-4">
                              224
                          </td>
                          <td class="px-6 py-4">
                              9/3
                          </td>
  
                      </tr>


                  </tbody>
              </table>
          </div>
    
    
          <span class="text-teal-700 text-left font-semibold text-xl tracking-tight">Coming Up</span>
          <div class="overflow-x-auto shadow-md rounded-lg">
              
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-teal-700 uppercase bg-teal-50 dark:bg-teal-800 dark:text-gray-400">
                      <tr>
                          <th scope="col" class="px-6 py-3">
                              Assigment
                          </th>
                          <th scope="col" class="px-6 py-3">
                              Class
                          </th>
                          <th scope="col" class="px-6 py-3">
                              Due Date
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="bg-white border-b dark:bg-teal-700 dark:border-gray-700">
                          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                              Assigment 1
                          </th>
                          <td class="px-6 py-4">
                              224
                          </td>
                          <td class="px-6 py-4">
                              9/3
                          </td>
  
                      </tr>


                  </tbody>
              </table>
      
      </div>
  </div>
