

<aside class="fixed top-0 left-0 w-44  h-screen shadow-2xl  transition-transform sm:-translate-x-full lg:translate-x-0 "  [ngClass]="{ 'translate-x-0 sm:-translate-x-full': !aside.isToggledAside, '': aside.isToggledAside }">

    
    <div class=" h-full px-3 py-4 overflow-y-auto bg-teal-100 dark:bg-teal-100">
      <div class="flex flex-row-reverse bg-slate-500 w-full">
      <button class="absolute flex items-center px-3 py-2 border rounded hover:text-white border-none lg:hidden" (click)="toggleAside()" >
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Back</title><path d="M15 18l-6-6 6-6"/></svg>
       </button></div>
        <ul class="flex flex-col h-full items-center justify-center font-medium">
         
         <li *ngFor="let item of items" class="flex flex-1 flex-col justify-center w-max">
   
            <a href="#" class="flex flex-col items-center justify-between text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-teal-700">
              
               <img width="50" height="50" src={{item[0]}} alt="quiz"/>
              
                 <span class="text-black">{{item[1]}}</span>
            
              </a>
           </li>
        
           
        </ul>
     </div>
     
    
</aside>
